.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 300px;
  padding: 50px 0px;
  background-color: #17212b;
  color: white;
  position: relative;
  z-index: 100 !important;
}
.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 75%;
}
.thanking {
  display: flex;
  flex-direction: column;
  font-weight: 600;
  font-size: 28px;
}
.social-links a {
  margin-right: 20px;
}

@media screen and (max-width: 480px) {
  .footer-container {
    min-height: 300px;
    padding-top: 210px;
  }
  .thanking {
    padding-bottom: 20px;
  }
}
