.team-membersCard {
  width: 20%;
  min-width: 250px;
  display: flex;
  padding: 8px;
  margin: 10px;
  flex-direction: row;
  border-radius: 22px;
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.25);
}

#dark .team-membersCard {
  background-color: #373737;
}

#dark .team-memberName {
  color: #eaeaea;
}

#dark .team-position {
  color: #ffffff;
}
.team-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex: 1;
}

.team-membersSocials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
}

.team-membersImage {
  height: 130px;
  /* width: 100%; */
  /* border-radius: 50%; */
  background-color: aqua;
  background: linear-gradient(45deg, #ea4335, #ea4335 100%),
    linear-gradient(135deg, #0f9d58, #0f9d58),
    linear-gradient(225deg, #fbbc04, #fbbc04),
    linear-gradient(225deg, #4285f4, #4285f4);
  background-size: 50% 50%;
  background-position: 0% 0%, 0% 100%, 100% 0%, 100% 100%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  aspect-ratio: 1;
}

.team-membersImage img {
  height: 120px;
  aspect-ratio: 1;
  border-radius: 50%;
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}
.team-membersImage img:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

.team-membersSocials img {
  margin: 5px 5px;
  height: 35px;
}

.team-memberName {
  margin-top: 15px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  color: black;
}

.team-position {
  color: #292929;
  margin-top: 5px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}
