.btn {
  border: none;
  background: #4c4848;
  color: white;
  padding: 10px 24px 10px 24px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 12px 20px 12px 12px;
}

.btn:hover {
  background-color: #4285f4 !important;
  color: white !important;
  transform: scale(1.05);
}

@media screen and (max-width: 480px) {
  .btn {
    font-size: 10px;
    width: 100%;
  }
}

@media screen and (min-width: 480px) and (max-width: 600px){
  .btn{
    font-size: 12px;
    width: 100%;
  }
}