* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: whitesmoke;
  /* background-color: black; */
}
body::-webkit-scrollbar {
  width: 5px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
a:hover {
  cursor: pointer;
}
