* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: whitesmoke;
  /* background-color: black; */
  overflow-x: hidden;
}
#dark {
  background-color: #292929;
}

body::-webkit-scrollbar {
  width: 5px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: #555;
}
a:hover {
  cursor: pointer;
}
/* .routeContainer {
  display: flex;
  flex-direction: column;
  width: 75%;
  justify-content: center;
  align-items: center;
} */
.programsConatiner {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.SpinnerBeforeLoading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
@media screen and (max-width: 400px) {
  .globe-container {
    height: 210px;
  }
  .globe-canvas {
    height: 390px !important;
    width: 390px !important;
  }
  canvas {
    height: 390px !important;
    width: 390px !important;
  }
}
@media screen and (max-width: 500px) and (min-width: 401px) {
  .globe-container {
    height: 250px;
  }
  .globe-canvas {
    height: 4500px !important;
    width: 450px !important;
  }
  canvas {
    height: 450px !important;
    width: 450px !important;
  }
}
