.container {
  /* flex-direction: column; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  /* padding-right: 25%; */
  /* background-color: yellow; */
}

.homeContainer {
  /* background-color: red;s */
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.heroSvg {
  /* background-color: red; */
  display: flex;
  justify-content: center;
  width: 50%;
  height: 100%;
}

.heroSvg img {
  /* background-color: red; */
  width: 80%;
  /* height: 100%; */
}

.content-container {
  width: 50%;
  /* margin-left: 100px;s */
  /* padding: 40px; */
  position: relative;
  /* background-color: red; */
  height: 20%;
  padding-right: 50px;
  /* margin-top: 20%; */

  /* background-color: green; */
}

.circle-container {
  display: flex;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  padding: 15px;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 10px;
  z-index: 2;
}

.circle1 {
  background-color: #ea4335;
}

.circle2 {
  background-color: #089d57;
}

.circle3 {
  background-color: #2196f3;
}

.circle4 {
  background-color: #ffc107;
}

.circle:hover {
  animation: flyAndZoom 0.8s ease-in-out;
  /* transform: translateY(-35px) scale(2); */
  /* transition: 0.8s; */
}

@keyframes flyAndZoom {
  0% {
    transform: translateY(0px) scale(1);
  }

  100% {
    transform: translateY(-35px) scale(2);
  }
}

.container-text {
  /* margin-top: 200px; */
  /* height:50px; */
}

.member-button {
  justify-content: space-evenly;
}

.button-container {
  display: flex;
  /* justify-content: flex-end; */
  margin-top: 15px;
}

.g-circles {
  position: absolute;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background-color: #089d57;
  display: absolute;
  /* top:calc(0%+50px); */
  top: -100px;
  right: -100px;
}

.gh-circles {
  position: absolute;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: #089d57;
  display: absolute;
  /* top:calc(0%+50px); */
  top: -30px;
  right: -75px;
}

.g-circles:hover {
  transform: scale(0.9);
  transition: 0.5s;
}

.p-circles:hover {
  transform: scale(0.5);
  transition: 0.5s;
}

.b-circles:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

.p-circles {
  position: absolute;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  background-color: #ea4335;
  top: -40px;
  right: -30px;
  z-index: 2;

  /* z-index: -10 !important; */
}

.ph-circles {
  position: absolute;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: #ea4335;
  top: -35px;
  right: -30px;
  z-index: 2;

  /* z-index: -10 !important; */
}

.b-circles {
  position: absolute;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: #2196f3;
  top: -10px;
  right: -90px;
  z-index: 2;
}

.bh-circles {
  position: absolute;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  background-color: #2196f3;
  top: 10px;
  right: -40px;
  z-index: 2;
}

.sg-circles {
  position: absolute;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: #089d57;
  bottom: 100px;
  z-index: -1;
}

.sgh-circles {
  position: absolute;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: #089d57;
  bottom: 100px;
  z-index: -1;
}

.y-circles {
  position: absolute;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  background-color: #ffc107;
  bottom: 30px;
  z-index: -1;
}

.rocketCloudImg {
  position: absolute;
  width: 100%;
  bottom: -60%;
}

.technology {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* background: green; */
  /* width:100vw; */
  /* display: flex; */
  /* justify-content: center;
    align-items: center;
    width: 75%;
    margin-left: 100px; */
}

.container-2 {
  width: 75%;
  /* background-color: red; */
}

.title-container {
  display: flex;
  /* margin-left: 15%; */
  padding-top: 50px;
}

.gdsc-title {
  font-size: 30px;
  color: gray;
}

.about-tech {
  width: 100%;
  /* padding-left: 15%; */
  padding-top: 20px;
}

.technologies {
  font-size: 20px;
  font-weight: bold;
  padding-top: 40px;
  /* padding-left: 15%; */
}

.tech-ait {
  font-size: 14px;
  font-weight: 300;
  /* padding-left: 15%; */
  padding-top: 10px;
}

.container-3 {
  display: flex;
  justify-content: space-between;
  /* background-color: yellow; */
  width: 75%;
  margin-top: 50px;
  /* margin-left: 100px; */
  /* margin: auto; */
}

.tech-container {
  background-color: white;
  height: 120px;
  width: 22%;
  box-shadow: 0px 0px 30px 1px rgba(0, 0, 0, 0.13);
  border-radius: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  position: relative;
}

.cards-circles {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  position: absolute;
  top: -35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cards-circles:hover {
  background-color: whitesmoke !important;
  border: 4px solid black;
  border-radius: 50%;
}

.cards-image {
  height: 40%;
}

.fixed-circle {
  background: rgba(8, 157, 87, 0.25);
  height: 300px;
  position: fixed;
  border-radius: 50%;
  top: 50%;
  left: 0px;
  width: 300px;
  transform: translate(-50%, -50%);
}

.project-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* align-items: center; */
  /* background-color: red; */
}

.project-heading {
  position: relative;
  padding: 20px;
  flex: 0;
  /* display: flex; */
  /* justify-content: center; */
  /* background-color: red; */
  height: 100px;
}

.project-heading p {
  font-size: 32px;
}

.project-card-container {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  height: 50%;
  overflow-x: auto;
}

.carousel-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 50px;
  /* background-color: red; */
}

.slider {
  display: flex !important;
  height: 100%;
  width: 100%;
  background-color: yellow;
}

.project-card {
  width: 20%;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* flex: 1; */
  /* background-color: red; */
  border: 1px solid rgb(68, 68, 68);
  box-shadow: 0px 0px 5px grey;
  border-radius: 10px;
  margin: 0px 20px;
}

.banner-image {
  width: 100%;
  height: 60%;
  background-color: lightblue;
  border-radius: 10px;
}

.banner-image:hover {
  height: 75%;
  transition: 1s;
  /* border-radius: 0px 0px 100px 100px; */
}

.card-footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
  width: 100%;
  font-size: 12px;
}

.post-container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* height: 200vh; */
  /* background-color: red; */
}

.all-posts-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
  /* overflow: hidden; */
}

.post {
  width: 100%;
  /* background-color: green; */
  max-height: 15%;
  display: flex;
  /* margin-bottom: %; */
}

.post:nth-child(even) {
  display: flex;
  width: 100%;
  max-height: 20%;
  flex-direction: row-reverse;
}

.post-image-container {
  width: 50%;
  /* background-color: pink; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
}

.horizontal-line {
  height: 1px;
  width: 75%;
  margin-top: 20px;
  background-color: grey;
}

.post-imageUrl {
  height: 75%;
  position: relative;
  border-radius: 25px;
  z-index: 10;
}

.post-imageUrl img {
  height: 100%;
}

.post-imageUrl::after {
  content: "";
  height: 10px;
  width: 75%;
  background-color: #bdc1c6;
  transform: translate(50%, 0%);
  position: absolute;
  bottom: -10px;
  right: 50%;
  border-radius: 0px 0px 10px 10px;
}

.post-imageUrl::before {
  content: "";
  height: 10px;
  width: 50%;
  background-color: #80868b;
  transform: translate(50%, 0%);
  position: absolute;
  bottom: -15px;
  right: 50%;
  border-radius: 0px 0px 25px 25px;
}

.post-content {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  /* background-color: aqua; */
}

.globe-container {
  height: 500px;
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  /* background: red; */
}

.globe-canvas {
  width: 1000px;
  height: 1000px;
  position: absolute;
  /* background-color: yellow; */
  justify-content: center;
  z-index: 10;
  cursor: grab;
  /* background: red; */
}

.Home-instagram path:nth-child(1) {
  cursor: pointer;
  fill: transparent;
}

.Home-facebook path:nth-child(1) {
  fill: transparent;
  cursor: pointer;
}

.Home-github path:nth-child(0) {
  cursor: pointer;

  fill: transparent;
}

.Home-github {
  /* background-color: yellow; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  margin-bottom: 5px;
}

.Home-linkedIn path:nth-child(1) {
  fill: transparent;
  cursor: pointer;
}


@media screen and (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
  }
  .post {
    width: 100%;
    /* background-color: green; */
    max-height: 15%;
    flex-direction: column;
    display: flex;
    /* margin-bottom: %; */
  }
  
  .post:nth-child(even) {
    display: flex;
    width: 100%;
    max-height: 20%;
    flex-direction: column;
  }
  .heroSvg {
    width: 100%;
    margin-top: -600px;
  }

  .content-container {
    width: 95%;
    padding-right: 0;
    margin-top: -300px;
  }
/* technology page css starts here */
  .technology {
    margin-top: -50px;
  }
  .title-container{
    display: flex;
    width: 100%;
    margin-top: -90px;
  }
  .title-container img {
    width: 20%;
  }
  .title-container p {
    font-size: 16px;
    align-items: center;
  }
  .container-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tech-container {
    width: 75%;
}
/* project css starts here */

  .project-card{
    min-width: 250px;
  }

  /* post page css starts here */
  .post-container { 
    width:85%;
  }

  .post-content {
    width: 100%;
}
.post-imageUrl img{
height: none;
width: 250%;
}
.post-content p {

}
/* globe css starts here  */
  .globe-container {
    height: 530px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

  .globe-canvas {
    overflow: hidden;
  }
  /* footer starts here */
  .footer-container{
    padding-top: 0px;
  }
  .footer-content{
    margin-top: -200px;
  }
  .social-links a img {
    height: 40px;
  }

}

@media screen and (min-width: 480px) and (max-width: 600px) {
  .container {
    display: flex;
    flex-direction: column-reverse;
  }
  .post {
    width: 100%;
    /* background-color: green; */
    max-height: 15%;
    flex-direction: column;
    display: flex;
    /* margin-bottom: %; */
  }
  
  .post:nth-child(even) {
    display: flex;
    width: 100%;
    max-height: 20%;
    flex-direction: column;
  }
  .heroSvg {
    width: 100%;
    /* margin-top: -3px; */
  }

  .content-container {
    width: 95%;
    padding-right: 0;
  }
/* technology page css starts here */
  .technology {
    margin-top: 400px;
  }
  .title-container{
    display: flex;
    width: 100%;
    margin-top: -100px;
  }
  .title-container img {
    width: 20%;
  }
  .title-container p {
    font-size: 25px;
    align-items: center;
  }
  .container-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .tech-container {
    width: 75%;
}
/* project css starts here */

  .project-card{
    min-width: 350px;
  }
  .project-heading{
    margin-top: 250px;
  }

  /* post page css starts here */
  .post-container { 
    /* width:85%; */
    margin-top: -200px;
  }

  .post-content {
    width: 100%;
}
.post-imageUrl img{
height: none;
width: 250%;
}
.post-content p {

}
/* globe css starts here  */
  .globe-container {
    height: 530px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

  .globe-canvas {
    overflow: hidden;
  }
  /* footer starts here */
  .footer-container{
    padding-top: 0px;
  }
  .footer-content{
    margin-top: -200px;
  }
  .social-links a img {
    margin-top: 10px;
    height: 80px;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .container {
    display: flex;
    /* flex-direction: column-reverse; */
  }
  .post {
    width: 100%;
    /* background-color: green; */
    max-height: 15%;
    flex-direction: column;
    display: flex;
    /* margin-bottom: %; */
  }
  
  .post:nth-child(even) {
    display: flex;
    width: 100%;
    max-height: 20%;
    flex-direction: column;
  }
  .heroSvg {
    width: 100%;
    /* margin-top: -600px; */
    margin-top: -150px;
  }

  .content-container {
    width: 95%;
    padding-right: 0;
    margin-top: -300px;
  }
/* technology page css starts here */
  .technology {
    margin-top: -200px;
  }
  .title-container{
    display: flex;
    width: 100%;
    /* margin-top: -20px; */
  }
  .title-container img {
    width: 20%;
  }
  .title-container p {
    font-size: 35px;
    align-items: center;
    margin-top: 15px;
  }
  .container-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-flow: row wrap;

  }
  .tech-container {
    min-width: 45%;
    justify-content: center;
}
/* project css starts here */

  .project-card{
    min-width: 250px;
  }
  .project-heading{
    display: flex;

  }
  /* post page css starts here */
  .post-container { 
    width:85%;
  }

  .post-content {
    width: 100%;
}
.post-imageUrl img{
height: none;
width: 250%;
}


/* globe css starts here  */
  .globe-container {
    height: 530px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }

  .globe-canvas {
    overflow: hidden;
  }
  /* footer starts here */
  .footer-container{
    padding-top: 0px;
  }
  .footer-content{
    margin-top: -200px;
  }
  .social-links a img {
    height: 50px;
  }
}