.navbar-container {
  display: flex;
  justify-content: center;
  width: 100%;
  /* background-color: red; */
  z-index: 99;
  position: absolute;
  top: 0px;
}
.navbar {
  width: 75%;
  /* background-color: #4c4848; */
  display: flex;
  justify-content: space-between;
  /* border-radius: 0px 30px 30px 0px; */
  padding: 10px;
  align-items: center;
  margin-top: 10px;
}
.navbar-link {
  /* color: #ffffff; */
  color: black;
  font-size: 16px;
  font-weight: 600;
  margin-left: 50px;
  padding: 5px 12px;
}
.navbar-link:hover {
  /* background-color: #ffc107; */
  color: #ffc107;
}
#dark .links-container a {
  color: #ffffff;
}
.logo {
  height: 20px;
}

.title {
  font-size: 18px;
  /* color: #ffffff; */
  font-weight: 600;
  margin-left: 10px;
}

.logo-container {
  display: flex;
  align-items: center;
}
#dark .logo-container p {
  color: #ffffff;
}
.activeRoute {
  border-bottom: 3px solid #ffc107;
  /* padding-bottom: 5px; */
}
@media screen and (max-width: 490px) {
}
